{% extends "inspection/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h4>Project # {{ object.inspection_id}}</h4>
      </div>
      <h6 class="article-title">according: {{ object.according}}</h6>
      <h6 class="article-content">not_according: {{ object.not_according }}</h6>
      <h6 class="article-content">correction_action: {{ object.correction_action }}</h6>
      <h6 class="article-content">comment: {{ object.comment }}</h6>
      <h6 class="article-content">act_desp_action_descp: {{ object.act_desp_action_descp }}</h6>
      <br>
      <a href="{% url 'inspection-inspection' %}" style="color:firebrick;" class="btn btn-primary">another inspection?</a>

    </div>
  </article>
{% endblock content %}
