{% extends "inspection/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h4>Project # {{ object.inspection_id}}</h4>
      </div>
      <h5 class="article-title">according: {{ object.according}}</h5>
      <h5 class="article-content">not_according: {{ object.not_according }}</h5>
      <h5 class="article-content">comment: {{ object.correction_action }}</h5>
      <h5 class="article-content">act_desp_action_descp: {{ object.act_desp_action_descp }}</h5>
      <a href="{% url 'inspection-inspection' %}" class="btn btn-primary">Back to activity inspection</a>
    </div>
  </article>
{% endblock content %}
