{% extends "inspection/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h6>Project Owner: {{ object.project_user_name }}</h6>
        <h6>Date peformed: {{ object.data_perform|date:"F d, Y" }}</h6>
      </div>
      <h5 class="article-title">Project # {{ object.project_number }}</h5>
      <h5 class="article-content">Report # {{ object.report_number }}</h5>
      <a href="{% url 'inspection-new' %}" class="btn btn-primary">Back to Inspection</a>
    </div>
  </article>
{% endblock content %}
