{% extends "inspection/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h4>Project # {{ object.weld_action_project_id}}</h4>
      </div>
      <h5 class="article-title">Before welding: {{ object.before_welding}}</h5>
      <h5 class="article-content">After welding: {{ object.after_welding }}</h5>
      <h5 class="article-content">During welding: {{ object.during_welding }}</h5>
    </div>
  </article>
{% endblock content %}
