body {
  /* background: #d7e2e2; */
  /* color: #333333; */
  margin-top: 5rem;
  background: url('/media/weldpic2.jpg');
  background-size: 1800px 900px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

/* .cover {
	background: url('/media/weldpic2.jpg');
  background-size: 1800px 900px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
} */
h1, h2, h4, h6 {
  color: #3a3939;
}

h3,h5{
  color:#f6f9fa
}
ul {
  margin: 0;
}

.bg-steel {
  background-color:#000000;

}

.site-header .navbar-nav .nav-link {
  color: #dfd1b6;
  font-size: medium;
}

.site-header .navbar-nav .nav-link:hover {
  color: #dfd1b6;
  font-size: medium;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  font-size: medium;
}

.content-section {
  background: #dfd1b6;
  padding: 20px 30px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #3a3838;
}

a.article-title:hover {
  color: #96ce2f;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* .nav-item .nav-link{
  color: darkred;
} */

/* @media all and (max-width: 900px) { */
/* .content-section
{
width: 100%;
} */
/* } */